# Não leva nada desnecessário pro container (economiza tempo e tamanho)
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.git
.gitignore
README.md
.dockerignore
node_modules
frontend/node_modules
dist
frontend/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.docker
Dockerfile*
docker-compose*.yml
.env
*.log