# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# ===============================
# Git
# ===============================
.git
.gitignore

# ===============================
# Documentação e configs locais
# ===============================
README.md
.dockerignore
*.md

# ===============================
# Node / React
# ===============================
node_modules/
frontend/node_modules/
dist/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# Logs
# ===============================
*.log
*.tmp
*.bak

# ===============================
# Docker
# ===============================
.docker
Dockerfile*
docker-compose*.yml
.env

# ===============================
# IDEs / Editors
# ===============================
.idea/
.vscode/
*.swp
*.swo

# ===============================
# Sistema operacional
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Banco local (SQLite) e cache
# ===============================
*.db
*.sqlite3
*.sqlite
