# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.pytest_cache/
.dmypy.json

# Docker
docker-compose.override.yml

# Node / React
node_modules/
frontend/node_modules/
dist/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Banco local (se usar sqlite)
*.db
*.sqlite3